<%- include("templates/header") -%>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-4 p-0">
      <img class="splash-img" src="srcs/images/cover_color_draft.png" alt="">
    </div>
    <div class="col-12 col-md-8 entry">
      <a href="<%- msg.content.btn1.link %>"><%- msg.content.btn1.text %></a>
    </div>
  </div>
</div>

<%- include("templates/footer") -%>
